Collect data
[
    {
        "id": "121db3a117c67412",
        "type": "tab",
        "label": "Collect data",
        "disabled": false,
        "info": "This flow is responsible for listening on serial port for incoming sensor data.\nIf there are no data, sensor sends request to cloud.\nIf there are data, flow saves data in a buffer.\nEvery 5minutes median is calculated base on buffer data. Median value is save in mongodb collection. Data from buffer are deleted.",
        "env": []
    },
    {
        "id": "42f21e940c06118a",
        "type": "serial in",
        "z": "121db3a117c67412",
        "name": "serialIn",
        "serial": "0f1594c6977ee81e",
        "x": 70,
        "y": 80,
        "wires": [
            [
                "1250c56104a1d92d"
            ]
        ],
        "info": "reads data from arduino in json\n{\"temperature\":25.6,\"humidity\":40}"
    },
    {
        "id": "7cd7876e186d3da8",
        "type": "debug",
        "z": "121db3a117c67412",
        "name": "NoSensorData",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 180,
        "wires": []
    },
    {
        "id": "adad474adb483b44",
        "type": "debug",
        "z": "121db3a117c67412",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 260,
        "wires": []
    },
    {
        "id": "1250c56104a1d92d",
        "type": "json",
        "z": "121db3a117c67412",
        "name": "parseFromJson",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 240,
        "y": 80,
        "wires": [
            [
                "6dc058e3e0789ca0"
            ]
        ]
    },
    {
        "id": "6dc058e3e0789ca0",
        "type": "change",
        "z": "121db3a117c67412",
        "name": "setTimestamp",
        "rules": [
            {
                "t": "set",
                "p": "payload.timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 80,
        "wires": [
            [
                "726b2cd6c410a7a0",
                "979897e08b6e6ea5"
            ]
        ]
    },
    {
        "id": "726b2cd6c410a7a0",
        "type": "function",
        "z": "121db3a117c67412",
        "name": "validateDataInput",
        "func": "if(!msg.payload.temperature || !msg.payload.humidity){\n    return [msg,null];\n    \n}\n   \n\n \n    \n    \n\nreturn [null, msg]\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 220,
        "wires": [
            [
                "162ec68bacd83941"
            ],
            [
                "2ca1eaedc6356c14"
            ]
        ]
    },
    {
        "id": "9df195cdc2791ad6",
        "type": "file",
        "z": "121db3a117c67412",
        "name": "noDataLog.txt",
        "filename": "C:\\Users\\Vita\\Unicorn\\weatherstation\\noSensorDataLog.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 580,
        "y": 180,
        "wires": [
            [
                "7cd7876e186d3da8"
            ]
        ]
    },
    {
        "id": "162ec68bacd83941",
        "type": "json",
        "z": "121db3a117c67412",
        "name": "parseToJson",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 180,
        "wires": [
            [
                "9df195cdc2791ad6"
            ]
        ]
    },
    {
        "id": "2ca1eaedc6356c14",
        "type": "function",
        "z": "121db3a117c67412",
        "name": "setBuffer",
        "func": "let weatherDataFlow = flow.get(\"weatherDataFlow\") || [];\n\n\n\nweatherDataFlow.push(msg.payload)\n\n flow.set(\"weatherDataFlow\", weatherDataFlow)\n\n    msg.payload = weatherDataFlow\n   return msg; \n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 260,
        "wires": [
            [
                "adad474adb483b44"
            ]
        ]
    },
    {
        "id": "51897050afccc0b1",
        "type": "inject",
        "z": "121db3a117c67412",
        "name": "loadWeatherDataBuffer",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "collection",
                "v": "WeatherData",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "weatherDataFlow",
        "payloadType": "flow",
        "x": 150,
        "y": 400,
        "wires": [
            [
                "293a5156eeadc366"
            ]
        ]
    },
    {
        "id": "293a5156eeadc366",
        "type": "change",
        "z": "121db3a117c67412",
        "name": "deletePreviousBuffer",
        "rules": [
            {
                "t": "delete",
                "p": "weatherDataFlow",
                "pt": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 400,
        "wires": [
            [
                "1d72efa8fd4c8a07"
            ]
        ]
    },
    {
        "id": "5c8afa1c37497706",
        "type": "mongodb out",
        "z": "121db3a117c67412",
        "mongodb": "ecb43e63847ff54b",
        "name": "saveMedianToCollection",
        "collection": "",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1190,
        "y": 400,
        "wires": []
    },
    {
        "id": "8480b9298ef09a5e",
        "type": "debug",
        "z": "121db3a117c67412",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 300,
        "wires": []
    },
    {
        "id": "e71e66cc6cfe712b",
        "type": "function",
        "z": "121db3a117c67412",
        "name": "median",
        "func": "\n\n    let medianData = {}\n    const keys = Object.keys(msg.payload[0])\n    keys.forEach((key)=>{\n\nlet sorted = msg.payload.slice().sort((a,b)=> (a[key] > b[key]) ? 1 :((b[key] > a[key]  ) ? -1 : 0))\n \n let middle = Math.floor(msg.payload.length / 2)\n  \n   let median = sorted[middle][key]\n   \n   \n   \n   if (msg.payload.length % 2 === 0){\n        median  = (sorted[middle - 1][key] + sorted[middle][key] )/ 2\n      \n    }\n\nmedianData = {\n    ...medianData,\n    [key]: median,\n}\n    })\n    \n    msg.payload = {...medianData}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 400,
        "wires": [
            [
                "1813a8b3a05f28b2",
                "8480b9298ef09a5e"
            ]
        ]
    },
    {
        "id": "1813a8b3a05f28b2",
        "type": "change",
        "z": "121db3a117c67412",
        "name": "setSentToFalse",
        "rules": [
            {
                "t": "set",
                "p": "payload.sent",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 400,
        "wires": [
            [
                "5c8afa1c37497706"
            ]
        ]
    },
    {
        "id": "1d72efa8fd4c8a07",
        "type": "function",
        "z": "121db3a117c67412",
        "name": "checkPayloadLength",
        "func": "if(msg.payload.length < 60) return\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 400,
        "wires": [
            [
                "e71e66cc6cfe712b"
            ]
        ]
    },
    {
        "id": "979897e08b6e6ea5",
        "type": "debug",
        "z": "121db3a117c67412",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 80,
        "wires": []
    },
    {
        "id": "0f1594c6977ee81e",
        "type": "serial-port",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "ecb43e63847ff54b",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "meteodata",
        "name": ""
    }
]
