Dashboard
[
    {
        "id": "97dd2227da13922c",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "This flow shows node-red dashboard on localhost:1880/ui\n",
        "env": []
    },
    {
        "id": "dfc13541af583c0d",
        "type": "ui_text",
        "z": "97dd2227da13922c",
        "group": "e9e0a14f4d42e8f0",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Records to be sent:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 60,
        "wires": []
    },
    {
        "id": "a947f1490c011952",
        "type": "inject",
        "z": "97dd2227da13922c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "${INJECT_INTERVAL}",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"sent\":false}",
        "payloadType": "json",
        "x": 100,
        "y": 60,
        "wires": [
            [
                "7c5beb74ebbc4f80"
            ]
        ]
    },
    {
        "id": "7c5beb74ebbc4f80",
        "type": "mongodb in",
        "z": "97dd2227da13922c",
        "mongodb": "ecb43e63847ff54b",
        "name": "",
        "collection": "WeatherData",
        "operation": "count",
        "x": 530,
        "y": 60,
        "wires": [
            [
                "dfc13541af583c0d"
            ]
        ]
    },
    {
        "id": "024a6fb27b302caa",
        "type": "ui_text",
        "z": "97dd2227da13922c",
        "group": "e9e0a14f4d42e8f0",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Number of stored records:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 120,
        "wires": []
    },
    {
        "id": "9ac33713d31d29b5",
        "type": "inject",
        "z": "97dd2227da13922c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "${INJECT_INTERVAL}",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"sent\":true}",
        "payloadType": "json",
        "x": 90,
        "y": 140,
        "wires": [
            [
                "644616c99a1f9eef"
            ]
        ]
    },
    {
        "id": "f572aad8a71849e9",
        "type": "mongodb in",
        "z": "97dd2227da13922c",
        "mongodb": "ecb43e63847ff54b",
        "name": "",
        "collection": "WeatherData",
        "operation": "count",
        "x": 510,
        "y": 120,
        "wires": [
            [
                "024a6fb27b302caa"
            ]
        ]
    },
    {
        "id": "5bad1f211e74d920",
        "type": "ui_chart",
        "z": "97dd2227da13922c",
        "name": "",
        "group": "6b8cb09d43b70d39",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "No data!",
        "dot": false,
        "ymin": "",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1250,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "4ead2780e3b8b1ec",
        "type": "mongodb in",
        "z": "97dd2227da13922c",
        "mongodb": "ecb43e63847ff54b",
        "name": "",
        "collection": "WeatherData",
        "operation": "find",
        "x": 670,
        "y": 580,
        "wires": [
            [
                "83b7f2078d2bb618"
            ]
        ]
    },
    {
        "id": "fe616b360a169b75",
        "type": "ui_form",
        "z": "97dd2227da13922c",
        "name": "CredentialsForm",
        "label": "Enter gateway credentials",
        "group": "160ca29be161bca2",
        "order": 4,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "secret",
                "value": "secret",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "workspaceId",
                "value": "workspaceId",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "secret": "",
            "workspaceId": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 120,
        "y": 680,
        "wires": [
            [
                "8d874435d7d0b90a"
            ]
        ]
    },
    {
        "id": "4b9c6842746a6403",
        "type": "file",
        "z": "97dd2227da13922c",
        "name": "Credentials.txt",
        "filename": "",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 480,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "e96549e98e925534",
        "type": "function",
        "z": "97dd2227da13922c",
        "name": "prepareChartData",
        "func": "let temperature = msg.payload.map((el)=>{\n    return {\"y\": el.temperature,\n            \"x\": el.timestamp\n    }\n})\nlet humidity = msg.payload.map((el)=>{\n    return {\"y\": el.humidity,\n            \"x\": el.timestamp\n    }\n})\n\nlet dtoOut = [{\n    \"series\": [\"Temperature\", \"Humidity\"],\n    \"data\": [\n        temperature,\n        humidity\n        ],\n    \"labels\": [\"temp\", \"humidity\"]\n}]\n\nmsg.payload = dtoOut\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 660,
        "wires": [
            [
                "5bad1f211e74d920"
            ]
        ]
    },
    {
        "id": "feaea0da89227359",
        "type": "ui_text_input",
        "z": "97dd2227da13922c",
        "name": "",
        "label": "From",
        "tooltip": "",
        "group": "0c2393b2a5af38bb",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "datetime-local",
        "delay": 300,
        "topic": "from",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 50,
        "y": 520,
        "wires": [
            [
                "8991b31656d8d227"
            ]
        ]
    },
    {
        "id": "eb70826fc9ec3dd2",
        "type": "ui_text_input",
        "z": "97dd2227da13922c",
        "name": "",
        "label": "To",
        "tooltip": "",
        "group": "0c2393b2a5af38bb",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "datetime-local",
        "delay": 300,
        "topic": "to",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 50,
        "y": 600,
        "wires": [
            [
                "8991b31656d8d227"
            ]
        ]
    },
    {
        "id": "8991b31656d8d227",
        "type": "function",
        "z": "97dd2227da13922c",
        "name": "userInputChartOptions",
        "func": "let chartprops = flow.get('chartprops')\nswitch(msg.topic){\n    case 'from':{\n        chartprops.from = msg.payload - (2*60*60*1000)\n        break\n    }\n    case 'to':{\n        chartprops.to = msg.payload - (2*60*60*1000)\n        break\n    }\n \n}\n\nflow.set('chartprops',chartprops)\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 560,
        "wires": [
            [
                "043f5967f260bfc6"
            ]
        ]
    },
    {
        "id": "fe8e802318c662a1",
        "type": "inject",
        "z": "97dd2227da13922c",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 70,
        "y": 420,
        "wires": [
            [
                "c31ae234524b8f4a"
            ]
        ]
    },
    {
        "id": "c31ae234524b8f4a",
        "type": "function",
        "z": "97dd2227da13922c",
        "name": "initChartpropsFlow",
        "func": "const GRAPH_TIME_PERIOD = env.get(\"GRAPH_TIME_PERIOD\")\nlet chartprops = flow.get('chartprops') || {}\n\nchartprops.from = Date.now() - GRAPH_TIME_PERIOD\nchartprops.to = Date.now()\nflow.set('chartprops',chartprops)\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 420,
        "wires": [
            [
                "043f5967f260bfc6"
            ]
        ]
    },
    {
        "id": "043f5967f260bfc6",
        "type": "function",
        "z": "97dd2227da13922c",
        "name": "setQuery",
        "func": "let chartprops = flow.get('chartprops')\n\nif((chartprops.to - chartprops.from) <= 0){\n    msg.payload = \"Enter valid date format\"\n    msg.topic = \"Date picker error\"\n   \n    return [msg, null]\n}\n\n    msg.payload = {\n    \"timestamp\":{$lte: chartprops.to, $gte: chartprops.from }\n    \n};\n\n    \n\n\n\nreturn [null,msg];\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 500,
        "wires": [
            [
                "346151eb639eb2a6"
            ],
            [
                "4ead2780e3b8b1ec"
            ]
        ]
    },
    {
        "id": "346151eb639eb2a6",
        "type": "ui_toast",
        "z": "97dd2227da13922c",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "timeInputValidationNotification",
        "x": 650,
        "y": 400,
        "wires": []
    },
    {
        "id": "83b7f2078d2bb618",
        "type": "switch",
        "z": "97dd2227da13922c",
        "name": "validateData",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 910,
        "y": 580,
        "wires": [
            [
                "9256ed592e6ead7c"
            ],
            [
                "e96549e98e925534"
            ]
        ]
    },
    {
        "id": "c6a979bac0db0d56",
        "type": "ui_toast",
        "z": "97dd2227da13922c",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "dataValidationNotification",
        "x": 1250,
        "y": 500,
        "wires": []
    },
    {
        "id": "9256ed592e6ead7c",
        "type": "change",
        "z": "97dd2227da13922c",
        "name": "setMessage",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "No data for selected time period",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "No data",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 500,
        "wires": [
            [
                "c6a979bac0db0d56"
            ]
        ]
    },
    {
        "id": "97c58cf801f172a6",
        "type": "inject",
        "z": "97dd2227da13922c",
        "name": "",
        "props": [
            {
                "p": "limit",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "sort",
                "v": "{\"_id\":-1}",
                "vt": "jsonata"
            }
        ],
        "repeat": "${INJECT_INTERVAL}",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "63ac3d632fe35b0b"
            ]
        ]
    },
    {
        "id": "63ac3d632fe35b0b",
        "type": "mongodb in",
        "z": "97dd2227da13922c",
        "mongodb": "ecb43e63847ff54b",
        "name": "",
        "collection": "WeatherData",
        "operation": "find",
        "x": 510,
        "y": 220,
        "wires": [
            [
                "e84d54f31d9e8885",
                "d2fa0c3cb6e6f536",
                "6c5d1aa75233133d"
            ]
        ]
    },
    {
        "id": "e84d54f31d9e8885",
        "type": "ui_text",
        "z": "97dd2227da13922c",
        "group": "bff6e53dc1b16a4f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last temperature:",
        "format": "{{msg.payload[0].temperature}} °C",
        "layout": "row-spread",
        "className": "",
        "x": 870,
        "y": 200,
        "wires": []
    },
    {
        "id": "d2fa0c3cb6e6f536",
        "type": "ui_text",
        "z": "97dd2227da13922c",
        "group": "bff6e53dc1b16a4f",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last humidity:",
        "format": "{{msg.payload[0].humidity}} %",
        "layout": "row-spread",
        "className": "",
        "x": 860,
        "y": 240,
        "wires": []
    },
    {
        "id": "6c5d1aa75233133d",
        "type": "function",
        "z": "97dd2227da13922c",
        "name": "toLocaleTime",
        "func": "const time = new Date(msg.payload[0].timestamp).toLocaleString()\nmsg.payload[0].timestamp = time\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 280,
        "wires": [
            [
                "8bd7be607d33fd22"
            ]
        ]
    },
    {
        "id": "8bd7be607d33fd22",
        "type": "ui_text",
        "z": "97dd2227da13922c",
        "group": "bff6e53dc1b16a4f",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "At:",
        "format": "{{msg.payload[0].timestamp}}",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 280,
        "wires": []
    },
    {
        "id": "2a6d6d7023590b64",
        "type": "delay",
        "z": "97dd2227da13922c",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 260,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "644616c99a1f9eef",
        "type": "delay",
        "z": "97dd2227da13922c",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 260,
        "y": 120,
        "wires": [
            [
                "f572aad8a71849e9"
            ]
        ]
    },
    {
        "id": "8010f2a9a7bcccdc",
        "type": "delay",
        "z": "97dd2227da13922c",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 260,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "8d874435d7d0b90a",
        "type": "function",
        "z": "97dd2227da13922c",
        "name": "configFilePath",
        "func": "const DOCS_PATH = env.get(\"DOCS_PATH\")\nconst filename = \"Credentials.txt\"\nmsg.filename = DOCS_PATH + filename\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 680,
        "wires": [
            [
                "4b9c6842746a6403"
            ]
        ]
    },
    {
        "id": "8523ef1fff68baf6",
        "type": "ui_spacer",
        "z": "97dd2227da13922c",
        "name": "spacer",
        "group": "c567c75bbf1e8784",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "0bdb5aafd8ea9e95",
        "type": "ui_spacer",
        "z": "97dd2227da13922c",
        "name": "spacer",
        "group": "c567c75bbf1e8784",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "83198538fca4be39",
        "type": "ui_spacer",
        "z": "97dd2227da13922c",
        "name": "spacer",
        "group": "b5647dd8ac47eae9",
        "order": 3,
        "width": "6",
        "height": "1"
    },
    {
        "id": "506183b3f9138bfe",
        "type": "ui_spacer",
        "z": "97dd2227da13922c",
        "name": "spacer",
        "group": "e9e0a14f4d42e8f0",
        "order": 3,
        "width": "6",
        "height": "1"
    },
    {
        "id": "040c576dfb94a85c",
        "type": "ui_spacer",
        "z": "97dd2227da13922c",
        "name": "spacer",
        "group": "0c2393b2a5af38bb",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "e9e0a14f4d42e8f0",
        "type": "ui_group",
        "name": "Data",
        "tab": "1649194ce587d352",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ecb43e63847ff54b",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "meteodata",
        "name": ""
    },
    {
        "id": "6b8cb09d43b70d39",
        "type": "ui_group",
        "name": "Data chart",
        "tab": "1649194ce587d352",
        "order": 5,
        "disp": false,
        "width": 24,
        "collapse": false,
        "className": ""
    },
    {
        "id": "160ca29be161bca2",
        "type": "ui_group",
        "name": "",
        "tab": "9b95e6ab28650b5b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0c2393b2a5af38bb",
        "type": "ui_group",
        "name": "Date",
        "tab": "1649194ce587d352",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bff6e53dc1b16a4f",
        "type": "ui_group",
        "name": "Current",
        "tab": "1649194ce587d352",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b5647dd8ac47eae9",
        "type": "ui_group",
        "name": "Connection",
        "tab": "1649194ce587d352",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1649194ce587d352",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9b95e6ab28650b5b",
        "type": "ui_tab",
        "name": "Credentials",
        "icon": "settings",
        "disabled": false,
        "hidden": false
    }
]
