dashboard
[
    {
        "id": "d33cc7818c34de8e",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cca400525c60c60a",
        "type": "ui_text",
        "z": "d33cc7818c34de8e",
        "group": "8f6f2228677d6b3c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Samples not sent:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1270,
        "y": 200,
        "wires": []
    },
    {
        "id": "329360c8acfcc9cc",
        "type": "debug",
        "z": "d33cc7818c34de8e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 280,
        "wires": []
    },
    {
        "id": "6a5e9e764482c468",
        "type": "inject",
        "z": "d33cc7818c34de8e",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"dataSent\":false}",
        "payloadType": "json",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "30bad141c55b854d",
                "c28ac7fc465620d4"
            ]
        ]
    },
    {
        "id": "e1f2d13000eecbe0",
        "type": "join",
        "z": "d33cc7818c34de8e",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 810,
        "y": 200,
        "wires": [
            [
                "443a57b72f667dbe"
            ]
        ]
    },
    {
        "id": "443a57b72f667dbe",
        "type": "change",
        "z": "d33cc7818c34de8e",
        "name": "$sum(payload)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$sum(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 200,
        "wires": [
            [
                "cca400525c60c60a",
                "329360c8acfcc9cc"
            ]
        ]
    },
    {
        "id": "30bad141c55b854d",
        "type": "mongodb in",
        "z": "d33cc7818c34de8e",
        "mongodb": "ecb43e63847ff54b",
        "name": "",
        "collection": "Temperature",
        "operation": "count",
        "x": 540,
        "y": 140,
        "wires": [
            [
                "e1f2d13000eecbe0"
            ]
        ]
    },
    {
        "id": "c28ac7fc465620d4",
        "type": "mongodb in",
        "z": "d33cc7818c34de8e",
        "mongodb": "ecb43e63847ff54b",
        "name": "",
        "collection": "Humidity",
        "operation": "count",
        "x": 530,
        "y": 200,
        "wires": [
            [
                "e1f2d13000eecbe0"
            ]
        ]
    },
    {
        "id": "7fdd378819e4f6a3",
        "type": "ui_chart",
        "z": "d33cc7818c34de8e",
        "name": "",
        "group": "e711d80e5f0c27c7",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No data!",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1250,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "b10bd71b0021e17b",
        "type": "ui_chart",
        "z": "d33cc7818c34de8e",
        "name": "",
        "group": "dcc71e1f9e87e372",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No data!",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1270,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "467e39202548a9c1",
        "type": "mongodb in",
        "z": "d33cc7818c34de8e",
        "mongodb": "ecb43e63847ff54b",
        "name": "",
        "collection": "Temperature",
        "operation": "aggregate",
        "x": 440,
        "y": 920,
        "wires": [
            [
                "b2c7bdc4a543f3c1"
            ]
        ]
    },
    {
        "id": "07d6cb1b47d2f7d7",
        "type": "mongodb in",
        "z": "d33cc7818c34de8e",
        "mongodb": "ecb43e63847ff54b",
        "name": "",
        "collection": "Humidity",
        "operation": "aggregate",
        "x": 450,
        "y": 1060,
        "wires": [
            [
                "39a24255976513a0"
            ]
        ]
    },
    {
        "id": "910772f080675284",
        "type": "inject",
        "z": "d33cc7818c34de8e",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "jsonata",
        "x": 110,
        "y": 920,
        "wires": [
            [
                "467e39202548a9c1",
                "07d6cb1b47d2f7d7"
            ]
        ]
    },
    {
        "id": "b2c7bdc4a543f3c1",
        "type": "change",
        "z": "d33cc7818c34de8e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "*.payload",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 920,
        "wires": [
            [
                "3434a289203e76da",
                "3b6c83295b43501f"
            ]
        ]
    },
    {
        "id": "3434a289203e76da",
        "type": "function",
        "z": "d33cc7818c34de8e",
        "name": "",
        "func": "let payload=msg.payload;\nlet data_out=[];\nlet a1=[];\nfor(let i=0;i<payload.length;i++)\n{\n    let temp1={ \"x\": payload[i].timestamp, \"y\": payload[i].value };\n    a1.push(temp1);\n}\ndata_out= [a1] ;\nmsg.payload=[{\n\n    \"series\": [],\n    \"data\":data_out,\n    \"labels\": []    \n}];\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 920,
        "wires": [
            [
                "7fdd378819e4f6a3"
            ]
        ]
    },
    {
        "id": "39a24255976513a0",
        "type": "change",
        "z": "d33cc7818c34de8e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "*.payload",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 1060,
        "wires": [
            [
                "7776f41eaf28582c",
                "7165692cd0cfb384"
            ]
        ]
    },
    {
        "id": "7776f41eaf28582c",
        "type": "function",
        "z": "d33cc7818c34de8e",
        "name": "",
        "func": "let payload=msg.payload;\nlet data_out=[];\nlet a1=[];\nfor(let i=0;i<payload.length;i++)\n{\n    let temp1={ \"x\": payload[i].timestamp, \"y\": payload[i].value };\n    a1.push(temp1);\n}\ndata_out= [a1] ;\nmsg.payload=[{\n\n    \"series\": [],\n    \"data\":data_out,\n    \"labels\": []    \n}];\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 980,
        "wires": [
            [
                "b10bd71b0021e17b"
            ]
        ]
    },
    {
        "id": "4c9537f3f44dc862",
        "type": "ui_text",
        "z": "d33cc7818c34de8e",
        "group": "bbb93dc843a2473b",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Internet:",
        "format": "",
        "layout": "row-left",
        "className": "",
        "x": 1140,
        "y": 540,
        "wires": [],
        "info": "if(true){\n    return yes;\n}else{\n    return no;\n}"
    },
    {
        "id": "2016ece079baecc0",
        "type": "ui_text",
        "z": "d33cc7818c34de8e",
        "group": "bbb93dc843a2473b",
        "order": 4,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Cloud:",
        "format": "",
        "layout": "row-left",
        "className": "",
        "x": 1130,
        "y": 720,
        "wires": []
    },
    {
        "id": "39b834428c42e962",
        "type": "function",
        "z": "d33cc7818c34de8e",
        "name": "",
        "func": "if(msg.payload > 0 || msg.payload == true){\n    msg.payload = \"YES\";\n}else if(msg.payload ==false){\n    msg.payload = \"NO\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 600,
        "wires": [
            [
                "8f71bdfb7842acf2",
                "71edc5c8687d835a"
            ]
        ]
    },
    {
        "id": "81b76dc9684fa9c7",
        "type": "function",
        "z": "d33cc7818c34de8e",
        "name": "",
        "func": "if(msg.payload == true){\n    msg.payload = \"YES\";\n}else if(msg.payload == false || 404){\n    msg.payload = \"NO\";\n}else{\n    msg.payload = \"Problem\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 720,
        "wires": [
            [
                "9ffd1d11911536a2",
                "c8491abafadc8b40"
            ]
        ]
    },
    {
        "id": "318121f966463f48",
        "type": "conf ping",
        "z": "d33cc7818c34de8e",
        "name": "Internet",
        "host": "www.google.com",
        "timeout": "5",
        "requests": "1",
        "x": 320,
        "y": 600,
        "wires": [
            [
                "39b834428c42e962"
            ]
        ]
    },
    {
        "id": "47d8b52cd27dacfe",
        "type": "conf ping",
        "z": "d33cc7818c34de8e",
        "name": "Cloud",
        "host": "https://iotbe.herokuapp.com/items",
        "timeout": "5",
        "requests": "1",
        "x": 310,
        "y": 720,
        "wires": [
            [
                "81b76dc9684fa9c7"
            ]
        ]
    },
    {
        "id": "dd19d5da2c3025e3",
        "type": "inject",
        "z": "d33cc7818c34de8e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "time",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 110,
        "y": 660,
        "wires": [
            [
                "318121f966463f48",
                "47d8b52cd27dacfe"
            ]
        ]
    },
    {
        "id": "71edc5c8687d835a",
        "type": "ui_led",
        "z": "d33cc7818c34de8e",
        "order": 2,
        "group": "bbb93dc843a2473b",
        "width": 2,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "NO",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "YES",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 710,
        "y": 660,
        "wires": []
    },
    {
        "id": "c8491abafadc8b40",
        "type": "ui_led",
        "z": "d33cc7818c34de8e",
        "order": 5,
        "group": "bbb93dc843a2473b",
        "width": 2,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "NO",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "YES",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 730,
        "y": 820,
        "wires": []
    },
    {
        "id": "3b6c83295b43501f",
        "type": "function",
        "z": "d33cc7818c34de8e",
        "name": "",
        "func": "data = msg.payload.slice(-1)[0];\n\nmsg.payload = data.value;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 1060,
        "wires": [
            [
                "432ab53888c0fb7d"
            ]
        ]
    },
    {
        "id": "7165692cd0cfb384",
        "type": "function",
        "z": "d33cc7818c34de8e",
        "name": "",
        "func": "data = msg.payload.slice(-1)[0];\n\nmsg.payload = data.value;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 1140,
        "wires": [
            [
                "6887d61b9035687f"
            ]
        ]
    },
    {
        "id": "432ab53888c0fb7d",
        "type": "ui_text",
        "z": "d33cc7818c34de8e",
        "group": "8f6f2228677d6b3c",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last temperature:",
        "format": "{{msg.payload}}°C",
        "layout": "row-spread",
        "className": "",
        "x": 1250,
        "y": 1060,
        "wires": []
    },
    {
        "id": "6887d61b9035687f",
        "type": "ui_text",
        "z": "d33cc7818c34de8e",
        "group": "8f6f2228677d6b3c",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last humidity:",
        "format": "{{msg.payload}}%",
        "layout": "row-spread",
        "className": "",
        "x": 1240,
        "y": 1140,
        "wires": []
    },
    {
        "id": "b155a6f829369f51",
        "type": "ui_text",
        "z": "d33cc7818c34de8e",
        "group": "8f6f2228677d6b3c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Samples to send:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1250,
        "y": 360,
        "wires": []
    },
    {
        "id": "b8f863eaa157f3a3",
        "type": "inject",
        "z": "d33cc7818c34de8e",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"dataSent\":true}",
        "payloadType": "json",
        "x": 170,
        "y": 340,
        "wires": [
            [
                "ebeb19b4360ff4a3",
                "65b23c14f59e7e1a"
            ]
        ]
    },
    {
        "id": "ebeb19b4360ff4a3",
        "type": "mongodb in",
        "z": "d33cc7818c34de8e",
        "mongodb": "ecb43e63847ff54b",
        "name": "",
        "collection": "Temperature",
        "operation": "count",
        "x": 540,
        "y": 340,
        "wires": [
            [
                "1c4a371f288d3d91"
            ]
        ]
    },
    {
        "id": "65b23c14f59e7e1a",
        "type": "mongodb in",
        "z": "d33cc7818c34de8e",
        "mongodb": "ecb43e63847ff54b",
        "name": "",
        "collection": "Humidity",
        "operation": "count",
        "x": 530,
        "y": 400,
        "wires": [
            [
                "1c4a371f288d3d91"
            ]
        ]
    },
    {
        "id": "1c4a371f288d3d91",
        "type": "join",
        "z": "d33cc7818c34de8e",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 810,
        "y": 360,
        "wires": [
            [
                "2d1aec87c4958c6f"
            ]
        ]
    },
    {
        "id": "2d1aec87c4958c6f",
        "type": "change",
        "z": "d33cc7818c34de8e",
        "name": "$sum(payload)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$sum(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 360,
        "wires": [
            [
                "2c2b69a39ef3f17b",
                "b155a6f829369f51"
            ]
        ]
    },
    {
        "id": "2c2b69a39ef3f17b",
        "type": "debug",
        "z": "d33cc7818c34de8e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 440,
        "wires": []
    },
    {
        "id": "7f124ed20150e79a",
        "type": "ui_text",
        "z": "d33cc7818c34de8e",
        "group": "bbb93dc843a2473b",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last internet connection lost:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1200,
        "y": 600,
        "wires": []
    },
    {
        "id": "dc991c79cd2a1873",
        "type": "ui_text",
        "z": "d33cc7818c34de8e",
        "group": "bbb93dc843a2473b",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last cloud connection lost:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1200,
        "y": 780,
        "wires": []
    },
    {
        "id": "9ffd1d11911536a2",
        "type": "switch",
        "z": "d33cc7818c34de8e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "YES",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "NO",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 710,
        "y": 720,
        "wires": [
            [
                "2016ece079baecc0"
            ],
            [
                "3eaee946b2eeffd4"
            ]
        ]
    },
    {
        "id": "3eaee946b2eeffd4",
        "type": "function",
        "z": "d33cc7818c34de8e",
        "name": "",
        "func": "let date = new Date(msg.time);\n\nmsg.payload = date.getHours() + \":\" + date.getMinutes();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 780,
        "wires": [
            [
                "dc991c79cd2a1873",
                "222c90c6d2c18767"
            ]
        ]
    },
    {
        "id": "222c90c6d2c18767",
        "type": "debug",
        "z": "d33cc7818c34de8e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 820,
        "wires": []
    },
    {
        "id": "966824cab795a0a6",
        "type": "debug",
        "z": "d33cc7818c34de8e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 640,
        "wires": []
    },
    {
        "id": "7e27fded34823d49",
        "type": "function",
        "z": "d33cc7818c34de8e",
        "name": "",
        "func": "let date = new Date(msg.time);\n\nmsg.payload = date.getHours() + \":\" + date.getMinutes();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 620,
        "wires": [
            [
                "7f124ed20150e79a",
                "966824cab795a0a6"
            ]
        ]
    },
    {
        "id": "8f71bdfb7842acf2",
        "type": "switch",
        "z": "d33cc7818c34de8e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "YES",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "NO",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 710,
        "y": 600,
        "wires": [
            [
                "4c9537f3f44dc862"
            ],
            [
                "7e27fded34823d49"
            ]
        ]
    },
    {
        "id": "8f6f2228677d6b3c",
        "type": "ui_group",
        "name": "Data",
        "tab": "cea36955c49d9397",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ecb43e63847ff54b",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "meteodata",
        "name": ""
    },
    {
        "id": "e711d80e5f0c27c7",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "cea36955c49d9397",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dcc71e1f9e87e372",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "cea36955c49d9397",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bbb93dc843a2473b",
        "type": "ui_group",
        "name": "Connection",
        "tab": "cea36955c49d9397",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cea36955c49d9397",
        "type": "ui_tab",
        "name": "Weather Station",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
