dashboard
[
    {
        "id": "b0ee181e03decd03",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "752748b1ebdd362d",
        "type": "ui_text",
        "z": "b0ee181e03decd03",
        "group": "8f6f2228677d6b3c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Samples to send:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1270,
        "y": 200,
        "wires": []
    },
    {
        "id": "e5002b0fc2f61e76",
        "type": "debug",
        "z": "b0ee181e03decd03",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 280,
        "wires": []
    },
    {
        "id": "d20c8cc615d1009f",
        "type": "inject",
        "z": "b0ee181e03decd03",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"sent\":false}",
        "payloadType": "json",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "8e8ef80b3653b1d2",
                "35e3dc2649d3f31b"
            ]
        ]
    },
    {
        "id": "38f736906c052f9a",
        "type": "join",
        "z": "b0ee181e03decd03",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 810,
        "y": 200,
        "wires": [
            [
                "8ac0fd058a407c36"
            ]
        ]
    },
    {
        "id": "8ac0fd058a407c36",
        "type": "change",
        "z": "b0ee181e03decd03",
        "name": "$sum(payload)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$sum(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 200,
        "wires": [
            [
                "752748b1ebdd362d",
                "e5002b0fc2f61e76"
            ]
        ]
    },
    {
        "id": "8e8ef80b3653b1d2",
        "type": "mongodb in",
        "z": "b0ee181e03decd03",
        "mongodb": "ecb43e63847ff54b",
        "name": "",
        "collection": "Temperature",
        "operation": "count",
        "x": 540,
        "y": 140,
        "wires": [
            [
                "38f736906c052f9a"
            ]
        ]
    },
    {
        "id": "35e3dc2649d3f31b",
        "type": "mongodb in",
        "z": "b0ee181e03decd03",
        "mongodb": "ecb43e63847ff54b",
        "name": "",
        "collection": "Humidity",
        "operation": "count",
        "x": 530,
        "y": 200,
        "wires": [
            [
                "38f736906c052f9a"
            ]
        ]
    },
    {
        "id": "d13e4ebf8b2db4f4",
        "type": "ui_chart",
        "z": "b0ee181e03decd03",
        "name": "",
        "group": "e711d80e5f0c27c7",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "No data!",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1250,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "798a717ae71068bf",
        "type": "ui_chart",
        "z": "b0ee181e03decd03",
        "name": "",
        "group": "dcc71e1f9e87e372",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "No data!",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1250,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "f7f4c590a77af1d2",
        "type": "mongodb in",
        "z": "b0ee181e03decd03",
        "mongodb": "ecb43e63847ff54b",
        "name": "",
        "collection": "Temperature",
        "operation": "aggregate",
        "x": 440,
        "y": 920,
        "wires": [
            [
                "9920119054172549"
            ]
        ]
    },
    {
        "id": "b82c90dfdcfef4bf",
        "type": "mongodb in",
        "z": "b0ee181e03decd03",
        "mongodb": "ecb43e63847ff54b",
        "name": "",
        "collection": "Humidity",
        "operation": "aggregate",
        "x": 430,
        "y": 1020,
        "wires": [
            [
                "3cf2490ab8cdfaed"
            ]
        ]
    },
    {
        "id": "9920119054172549",
        "type": "change",
        "z": "b0ee181e03decd03",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "*.payload",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "temperature",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 920,
        "wires": [
            [
                "b82c90dfdcfef4bf",
                "30f91646d7b50504"
            ]
        ]
    },
    {
        "id": "30f91646d7b50504",
        "type": "function",
        "z": "b0ee181e03decd03",
        "name": "",
        "func": "let payload=msg.temperature;\nlet data_out=[];\nlet a1=[];\nfor(let i=0;i<payload.length;i++)\n{\n    let temp1={ \"x\": payload[i].timestamp, \"y\": payload[i].value };\n    a1.push(temp1);\n}\ndata_out= [a1] ;\nmsg.payload=[{\n\n    \"series\": [],\n    \"data\":data_out,\n    \"labels\": []    \n}];\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 920,
        "wires": [
            [
                "d13e4ebf8b2db4f4"
            ]
        ]
    },
    {
        "id": "3cf2490ab8cdfaed",
        "type": "change",
        "z": "b0ee181e03decd03",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "*.payload",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "humidity",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 1020,
        "wires": [
            [
                "bc36cbe3b4be7269",
                "78e8321e94fb454e"
            ]
        ]
    },
    {
        "id": "78e8321e94fb454e",
        "type": "function",
        "z": "b0ee181e03decd03",
        "name": "",
        "func": "let payload=msg.humidity;\nlet data_out=[];\nlet a1=[];\nfor(let i=0;i<payload.length;i++)\n{\n    let hum1={ \"x\": payload[i].timestamp, \"y\": payload[i].value };\n    a1.push(hum1);\n}\ndata_out= [a1] ;\nmsg.payload=[{\n\n    \"series\": [],\n    \"data\":data_out,\n    \"labels\": []    \n}];\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 980,
        "wires": [
            [
                "798a717ae71068bf"
            ]
        ]
    },
    {
        "id": "7d38092d36dd3db4",
        "type": "ui_text",
        "z": "b0ee181e03decd03",
        "group": "148e52f0a6b6a730",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Internet:",
        "format": "",
        "layout": "row-left",
        "className": "",
        "x": 1140,
        "y": 540,
        "wires": [],
        "info": "if(true){\n    return yes;\n}else{\n    return no;\n}"
    },
    {
        "id": "340b038f4e686bc9",
        "type": "ui_text",
        "z": "b0ee181e03decd03",
        "group": "148e52f0a6b6a730",
        "order": 4,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Cloud:",
        "format": "",
        "layout": "row-left",
        "className": "",
        "x": 1130,
        "y": 720,
        "wires": []
    },
    {
        "id": "3cc4cc69bb585508",
        "type": "function",
        "z": "b0ee181e03decd03",
        "name": "",
        "func": "if(msg.payload > 0 || msg.payload == true){\n    msg.payload = \"YES\";\n}else if(msg.payload ==false){\n    msg.payload = \"NO\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 600,
        "wires": [
            [
                "f3052367e5cb7f71",
                "376529504b4f1b93"
            ]
        ]
    },
    {
        "id": "52c04ea8ab4af3ed",
        "type": "function",
        "z": "b0ee181e03decd03",
        "name": "",
        "func": "if(msg.payload == true){\n    msg.payload = \"YES\";\n}else if(msg.payload == false || 404){\n    msg.payload = \"NO\";\n}else{\n    msg.payload = \"Problem\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 720,
        "wires": [
            [
                "d8703535ceb4a887",
                "ed4736e0008c4e74"
            ]
        ]
    },
    {
        "id": "376529504b4f1b93",
        "type": "ui_led",
        "z": "b0ee181e03decd03",
        "order": 2,
        "group": "148e52f0a6b6a730",
        "width": 2,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "NO",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "YES",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 710,
        "y": 660,
        "wires": []
    },
    {
        "id": "ed4736e0008c4e74",
        "type": "ui_led",
        "z": "b0ee181e03decd03",
        "order": 5,
        "group": "148e52f0a6b6a730",
        "width": 2,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "NO",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "YES",
                "valueType": "str"
            },
            {
                "color": "#ffff00",
                "value": "Problem",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 730,
        "y": 820,
        "wires": []
    },
    {
        "id": "bc36cbe3b4be7269",
        "type": "function",
        "z": "b0ee181e03decd03",
        "name": "",
        "func": "let data = { \n    \"temperature\": msg.temperature.slice(-1)[0],\n    \"humidity\": msg.humidity.slice(-1)[0]\n};\n\nmsg.payload = data;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 1060,
        "wires": [
            [
                "ecd72a56a90ab68f",
                "a206439d35bc1846"
            ]
        ]
    },
    {
        "id": "ecd72a56a90ab68f",
        "type": "ui_text",
        "z": "b0ee181e03decd03",
        "group": "8f6f2228677d6b3c",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last temperature:",
        "format": "{{msg.payload.temperature.value}}°C",
        "layout": "row-spread",
        "className": "",
        "x": 1250,
        "y": 1060,
        "wires": []
    },
    {
        "id": "a206439d35bc1846",
        "type": "ui_text",
        "z": "b0ee181e03decd03",
        "group": "8f6f2228677d6b3c",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last humidity:",
        "format": "{{msg.payload.humidity.value}}%",
        "layout": "row-spread",
        "className": "",
        "x": 1240,
        "y": 1140,
        "wires": []
    },
    {
        "id": "2786c9be42da2bc5",
        "type": "ui_text",
        "z": "b0ee181e03decd03",
        "group": "8f6f2228677d6b3c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Samples sent:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1240,
        "y": 360,
        "wires": []
    },
    {
        "id": "0f4b787da2838e97",
        "type": "inject",
        "z": "b0ee181e03decd03",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"sent\":true}",
        "payloadType": "json",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "aacf448f1d6e8888",
                "71759b2b99f36b1d"
            ]
        ]
    },
    {
        "id": "aacf448f1d6e8888",
        "type": "mongodb in",
        "z": "b0ee181e03decd03",
        "mongodb": "ecb43e63847ff54b",
        "name": "",
        "collection": "Temperature",
        "operation": "count",
        "x": 540,
        "y": 340,
        "wires": [
            [
                "f3fdd65527928819"
            ]
        ]
    },
    {
        "id": "71759b2b99f36b1d",
        "type": "mongodb in",
        "z": "b0ee181e03decd03",
        "mongodb": "ecb43e63847ff54b",
        "name": "",
        "collection": "Humidity",
        "operation": "count",
        "x": 530,
        "y": 400,
        "wires": [
            [
                "f3fdd65527928819"
            ]
        ]
    },
    {
        "id": "f3fdd65527928819",
        "type": "join",
        "z": "b0ee181e03decd03",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 810,
        "y": 360,
        "wires": [
            [
                "350323530ebaced1"
            ]
        ]
    },
    {
        "id": "350323530ebaced1",
        "type": "change",
        "z": "b0ee181e03decd03",
        "name": "$sum(payload)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$sum(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 360,
        "wires": [
            [
                "944a196d9c5b0c34",
                "2786c9be42da2bc5"
            ]
        ]
    },
    {
        "id": "944a196d9c5b0c34",
        "type": "debug",
        "z": "b0ee181e03decd03",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 440,
        "wires": []
    },
    {
        "id": "7a26e4c0ce279adf",
        "type": "ui_text",
        "z": "b0ee181e03decd03",
        "group": "148e52f0a6b6a730",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last internet connection lost:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1200,
        "y": 600,
        "wires": []
    },
    {
        "id": "cd99edff11f89745",
        "type": "ui_text",
        "z": "b0ee181e03decd03",
        "group": "148e52f0a6b6a730",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last cloud connection lost:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1200,
        "y": 780,
        "wires": []
    },
    {
        "id": "d8703535ceb4a887",
        "type": "switch",
        "z": "b0ee181e03decd03",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "YES",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "NO",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 710,
        "y": 720,
        "wires": [
            [
                "340b038f4e686bc9"
            ],
            [
                "b7e875840a4c188c"
            ]
        ]
    },
    {
        "id": "b7e875840a4c188c",
        "type": "function",
        "z": "b0ee181e03decd03",
        "name": "",
        "func": "let date = new Date(msg.time);\n\nmsg.payload = date.getHours() + \":\" + (date.getMinutes()<10?'0':'') + date.getMinutes();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 780,
        "wires": [
            [
                "cd99edff11f89745",
                "96421bb571471ae5"
            ]
        ]
    },
    {
        "id": "96421bb571471ae5",
        "type": "debug",
        "z": "b0ee181e03decd03",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 820,
        "wires": []
    },
    {
        "id": "de55a5620c1fe330",
        "type": "debug",
        "z": "b0ee181e03decd03",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 640,
        "wires": []
    },
    {
        "id": "d72acc3ae4502b7d",
        "type": "function",
        "z": "b0ee181e03decd03",
        "name": "",
        "func": "let date = new Date(msg.time);\n\nmsg.payload = date.getHours() + \":\" + (date.getMinutes()<10?'0':'') + date.getMinutes();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 620,
        "wires": [
            [
                "7a26e4c0ce279adf",
                "de55a5620c1fe330"
            ]
        ]
    },
    {
        "id": "f3052367e5cb7f71",
        "type": "switch",
        "z": "b0ee181e03decd03",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "YES",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "NO",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 710,
        "y": 600,
        "wires": [
            [
                "7d38092d36dd3db4"
            ],
            [
                "d72acc3ae4502b7d"
            ]
        ]
    },
    {
        "id": "5ae5989e559e19d0",
        "type": "inject",
        "z": "b0ee181e03decd03",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "time",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 110,
        "y": 660,
        "wires": [
            [
                "e63c7cfb2acd276e",
                "125c9e9bb2bf3e74"
            ]
        ]
    },
    {
        "id": "5c75a2e92356815f",
        "type": "inject",
        "z": "b0ee181e03decd03",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "jsonata",
        "x": 110,
        "y": 920,
        "wires": [
            [
                "f7f4c590a77af1d2"
            ]
        ]
    },
    {
        "id": "e63c7cfb2acd276e",
        "type": "http request",
        "z": "b0ee181e03decd03",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.google.com/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 330,
        "y": 600,
        "wires": [
            [
                "3cc4cc69bb585508"
            ]
        ]
    },
    {
        "id": "125c9e9bb2bf3e74",
        "type": "http request",
        "z": "b0ee181e03decd03",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://iotbe.herokuapp.com/items",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 330,
        "y": 720,
        "wires": [
            [
                "52c04ea8ab4af3ed"
            ]
        ]
    },
    {
        "id": "8f6f2228677d6b3c",
        "type": "ui_group",
        "name": "Data",
        "tab": "cea36955c49d9397",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ecb43e63847ff54b",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "meteodata",
        "name": ""
    },
    {
        "id": "e711d80e5f0c27c7",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "cea36955c49d9397",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dcc71e1f9e87e372",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "cea36955c49d9397",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "148e52f0a6b6a730",
        "type": "ui_group",
        "name": "Connection",
        "tab": "cea36955c49d9397",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cea36955c49d9397",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
