Dashboard
[
    {
        "id": "97dd2227da13922c",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dfc13541af583c0d",
        "type": "ui_text",
        "z": "97dd2227da13922c",
        "group": "e9e0a14f4d42e8f0",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Number of stored records:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 140,
        "wires": []
    },
    {
        "id": "c3576f434a3cc3ee",
        "type": "debug",
        "z": "97dd2227da13922c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 80,
        "wires": []
    },
    {
        "id": "a947f1490c011952",
        "type": "inject",
        "z": "97dd2227da13922c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"sent\":false}",
        "payloadType": "json",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "7c5beb74ebbc4f80"
            ]
        ]
    },
    {
        "id": "7c5beb74ebbc4f80",
        "type": "mongodb in",
        "z": "97dd2227da13922c",
        "mongodb": "ecb43e63847ff54b",
        "name": "",
        "collection": "WeatherData",
        "operation": "count",
        "x": 410,
        "y": 140,
        "wires": [
            [
                "dfc13541af583c0d",
                "c3576f434a3cc3ee"
            ]
        ]
    },
    {
        "id": "024a6fb27b302caa",
        "type": "ui_text",
        "z": "97dd2227da13922c",
        "group": "e9e0a14f4d42e8f0",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Records to be sent:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 810,
        "y": 200,
        "wires": []
    },
    {
        "id": "9ac33713d31d29b5",
        "type": "inject",
        "z": "97dd2227da13922c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"sent\":true}",
        "payloadType": "json",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "f572aad8a71849e9"
            ]
        ]
    },
    {
        "id": "f572aad8a71849e9",
        "type": "mongodb in",
        "z": "97dd2227da13922c",
        "mongodb": "ecb43e63847ff54b",
        "name": "",
        "collection": "WeatherData",
        "operation": "count",
        "x": 410,
        "y": 200,
        "wires": [
            [
                "024a6fb27b302caa"
            ]
        ]
    },
    {
        "id": "5bad1f211e74d920",
        "type": "ui_chart",
        "z": "97dd2227da13922c",
        "name": "",
        "group": "6b8cb09d43b70d39",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "No data!",
        "dot": false,
        "ymin": "",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1250,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "4ead2780e3b8b1ec",
        "type": "mongodb in",
        "z": "97dd2227da13922c",
        "mongodb": "ecb43e63847ff54b",
        "name": "",
        "collection": "WeatherData",
        "operation": "find",
        "x": 690,
        "y": 560,
        "wires": [
            [
                "62f08fae082fd788",
                "83b7f2078d2bb618"
            ]
        ]
    },
    {
        "id": "62f08fae082fd788",
        "type": "debug",
        "z": "97dd2227da13922c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 500,
        "wires": []
    },
    {
        "id": "fe616b360a169b75",
        "type": "ui_form",
        "z": "97dd2227da13922c",
        "name": "CredentialsForm",
        "label": "Enter gateway credentials",
        "group": "160ca29be161bca2",
        "order": 4,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "secret",
                "value": "secret",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "workspaceId",
                "value": "workspaceId",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "secret": "",
            "workspaceId": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 160,
        "y": 300,
        "wires": [
            [
                "4b9c6842746a6403"
            ]
        ]
    },
    {
        "id": "410bf4d9c905288e",
        "type": "debug",
        "z": "97dd2227da13922c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 300,
        "wires": []
    },
    {
        "id": "4b9c6842746a6403",
        "type": "file",
        "z": "97dd2227da13922c",
        "name": "Credentials.txt",
        "filename": "C:\\Users\\Vita\\Unicorn\\weatherstation\\Credentials.txt",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 440,
        "y": 300,
        "wires": [
            [
                "410bf4d9c905288e"
            ]
        ]
    },
    {
        "id": "e96549e98e925534",
        "type": "function",
        "z": "97dd2227da13922c",
        "name": "",
        "func": "let temperature = msg.payload.map((el)=>{\n    return {\"y\": el.temperature,\n            \"x\": el.timestamp\n    }\n})\nlet humidity = msg.payload.map((el)=>{\n    return {\"y\": el.humidity,\n            \"x\": el.timestamp\n    }\n})\n\nlet dtoOut = [{\n    \"series\": [\"Temperature\", \"Humidity\"],\n    \"data\": [\n        temperature,\n        humidity\n        ],\n    \"labels\": [\"temp\", \"humidity\"]\n}]\n\nmsg.payload = dtoOut\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 580,
        "wires": [
            [
                "5bad1f211e74d920"
            ]
        ]
    },
    {
        "id": "feaea0da89227359",
        "type": "ui_text_input",
        "z": "97dd2227da13922c",
        "name": "",
        "label": "From",
        "tooltip": "",
        "group": "6b8cb09d43b70d39",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "datetime-local",
        "delay": 300,
        "topic": "from",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 70,
        "y": 640,
        "wires": [
            [
                "8991b31656d8d227"
            ]
        ]
    },
    {
        "id": "eb70826fc9ec3dd2",
        "type": "ui_text_input",
        "z": "97dd2227da13922c",
        "name": "",
        "label": "To",
        "tooltip": "",
        "group": "6b8cb09d43b70d39",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "datetime-local",
        "delay": 300,
        "topic": "to",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 70,
        "y": 700,
        "wires": [
            [
                "8991b31656d8d227"
            ]
        ]
    },
    {
        "id": "8991b31656d8d227",
        "type": "function",
        "z": "97dd2227da13922c",
        "name": "storeChartOptions",
        "func": "let chartprops = flow.get('chartprops')\nswitch(msg.topic){\n    case 'from':{\n        chartprops.from = msg.payload - (2*60*60*1000)\n        break\n    }\n    case 'to':{\n        chartprops.to = msg.payload - (2*60*60*1000)\n        break\n    }\n \n}\n\nflow.set('chartprops',chartprops)\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 680,
        "wires": [
            [
                "22b380f7c8e90908",
                "043f5967f260bfc6"
            ]
        ]
    },
    {
        "id": "fe8e802318c662a1",
        "type": "inject",
        "z": "97dd2227da13922c",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 400,
        "wires": [
            [
                "c31ae234524b8f4a"
            ]
        ]
    },
    {
        "id": "c31ae234524b8f4a",
        "type": "function",
        "z": "97dd2227da13922c",
        "name": "init chart options in flow",
        "func": "let chartprops = flow.get('chartprops') || {}\n\nchartprops.from = Date.now() - (24*60*60*1000)\nchartprops.to = Date.now()\nflow.set('chartprops',chartprops)\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 400,
        "wires": [
            [
                "043f5967f260bfc6"
            ]
        ]
    },
    {
        "id": "22b380f7c8e90908",
        "type": "debug",
        "z": "97dd2227da13922c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 680,
        "wires": []
    },
    {
        "id": "043f5967f260bfc6",
        "type": "function",
        "z": "97dd2227da13922c",
        "name": "",
        "func": "let chartprops = flow.get('chartprops')\n\nif((chartprops.to - chartprops.from) <= 0){\n    msg.payload = \"Enter valid date format\"\n    msg.topic = \"Date picker error\"\n    msg.result = chartprops.from - chartprops.to\n    return [msg, null]\n}\n\n    msg.payload = {\n    \"timestamp\":{$lte: chartprops.to, $gte: chartprops.from }\n    \n};\n\n    \n\n\n\nreturn [null,msg];\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 480,
        "wires": [
            [
                "346151eb639eb2a6",
                "edf9d0e6ca1d1d9d"
            ],
            [
                "4ead2780e3b8b1ec"
            ]
        ]
    },
    {
        "id": "edf9d0e6ca1d1d9d",
        "type": "debug",
        "z": "97dd2227da13922c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 400,
        "wires": []
    },
    {
        "id": "346151eb639eb2a6",
        "type": "ui_toast",
        "z": "97dd2227da13922c",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 750,
        "y": 440,
        "wires": []
    },
    {
        "id": "83b7f2078d2bb618",
        "type": "switch",
        "z": "97dd2227da13922c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 910,
        "y": 560,
        "wires": [
            [
                "9256ed592e6ead7c"
            ],
            [
                "e96549e98e925534"
            ]
        ]
    },
    {
        "id": "c6a979bac0db0d56",
        "type": "ui_toast",
        "z": "97dd2227da13922c",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1290,
        "y": 520,
        "wires": []
    },
    {
        "id": "9256ed592e6ead7c",
        "type": "change",
        "z": "97dd2227da13922c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "No data for selected time period",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "No data",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 520,
        "wires": [
            [
                "c6a979bac0db0d56"
            ]
        ]
    },
    {
        "id": "e9e0a14f4d42e8f0",
        "type": "ui_group",
        "name": "Data",
        "tab": "1649194ce587d352",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ecb43e63847ff54b",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "meteodata",
        "name": ""
    },
    {
        "id": "6b8cb09d43b70d39",
        "type": "ui_group",
        "name": "Data chart",
        "tab": "1649194ce587d352",
        "order": 2,
        "disp": true,
        "width": "25",
        "collapse": false,
        "className": ""
    },
    {
        "id": "160ca29be161bca2",
        "type": "ui_group",
        "name": "",
        "tab": "9b95e6ab28650b5b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1649194ce587d352",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9b95e6ab28650b5b",
        "type": "ui_tab",
        "name": "Credentials",
        "icon": "settings",
        "disabled": false,
        "hidden": false
    }
]
