deleteData
[
    {
        "id": "9b32b4be2bf6f0f5",
        "type": "tab",
        "label": "Delete data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4cd613a99286c957",
        "type": "mongodb out",
        "z": "9b32b4be2bf6f0f5",
        "mongodb": "ecb43e63847ff54b",
        "name": "Temperature",
        "collection": "Temperature",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 730,
        "y": 80,
        "wires": []
    },
    {
        "id": "aa0723d0b8bd65e4",
        "type": "mongodb out",
        "z": "9b32b4be2bf6f0f5",
        "mongodb": "ecb43e63847ff54b",
        "name": "Humidity",
        "collection": "Humidity",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 880,
        "y": 300,
        "wires": []
    },
    {
        "id": "4d03f907b7540537",
        "type": "inject",
        "z": "9b32b4be2bf6f0f5",
        "name": "deleteDataFromDatabase",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "86400",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 260,
        "wires": [
            [
                "3cf54b8619ac67d5"
            ]
        ]
    },
    {
        "id": "3cf54b8619ac67d5",
        "type": "function",
        "z": "9b32b4be2bf6f0f5",
        "name": "queryDeleteAfter14Days",
        "func": "msg.payload = {\n    \"sent\": true,\n    \"payload.timestamp\":{$lt: new Date().getTime() - (14*24*60*60*1000)}\n    \n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 260,
        "wires": [
            [
                "dcdce8f5a31c988a",
                "aa0723d0b8bd65e4"
            ]
        ]
    },
    {
        "id": "dcdce8f5a31c988a",
        "type": "mongodb out",
        "z": "9b32b4be2bf6f0f5",
        "mongodb": "ecb43e63847ff54b",
        "name": "Temperature",
        "collection": "Temperature",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 890,
        "y": 240,
        "wires": []
    },
    {
        "id": "ecb43e63847ff54b",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "meteodata",
        "name": ""
    }
]
