readData
[
    {
        "id": "bc7cdf4bb4dff9c6",
        "type": "tab",
        "label": "Read from db",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2879fe723d976fab",
        "type": "mongodb in",
        "z": "bc7cdf4bb4dff9c6",
        "mongodb": "ecb43e63847ff54b",
        "name": "",
        "collection": "Temperature",
        "operation": "find",
        "x": 400,
        "y": 120,
        "wires": [
            [
                "1c16571fea27bb7c"
            ]
        ]
    },
    {
        "id": "1c16571fea27bb7c",
        "type": "debug",
        "z": "bc7cdf4bb4dff9c6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 120,
        "wires": []
    },
    {
        "id": "6ffcd7abf4e5e787",
        "type": "mongodb in",
        "z": "bc7cdf4bb4dff9c6",
        "mongodb": "ecb43e63847ff54b",
        "name": "",
        "collection": "Humidity",
        "operation": "find",
        "x": 390,
        "y": 180,
        "wires": [
            [
                "1c16571fea27bb7c"
            ]
        ]
    },
    {
        "id": "2f7f8b49de3ba0d9",
        "type": "inject",
        "z": "bc7cdf4bb4dff9c6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "2879fe723d976fab",
                "6ffcd7abf4e5e787"
            ]
        ]
    },
    {
        "id": "ecb43e63847ff54b",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "meteodata",
        "name": ""
    }
]
