Send to cloud
[
    {
        "id": "bc7cdf4bb4dff9c6",
        "type": "tab",
        "label": "Send to cloud",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2879fe723d976fab",
        "type": "mongodb in",
        "z": "bc7cdf4bb4dff9c6",
        "mongodb": "ecb43e63847ff54b",
        "name": "",
        "collection": "Temperature",
        "operation": "find",
        "x": 340,
        "y": 80,
        "wires": [
            [
                "2eb80cb3e0a9e05f"
            ]
        ]
    },
    {
        "id": "2f7f8b49de3ba0d9",
        "type": "inject",
        "z": "bc7cdf4bb4dff9c6",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"sent\": false}",
        "payloadType": "json",
        "x": 100,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "863939886756ec78",
        "type": "mongodb out",
        "z": "bc7cdf4bb4dff9c6",
        "mongodb": "ecb43e63847ff54b",
        "name": "",
        "collection": "Temperature",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 1180,
        "y": 300,
        "wires": []
    },
    {
        "id": "0c691eddf1f6f0c3",
        "type": "mongodb out",
        "z": "bc7cdf4bb4dff9c6",
        "mongodb": "ecb43e63847ff54b",
        "name": "",
        "collection": "Humidity",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 1170,
        "y": 340,
        "wires": []
    },
    {
        "id": "433e27fdc2ff2343",
        "type": "http request",
        "z": "bc7cdf4bb4dff9c6",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://iotbe.herokuapp.com/array-items",
        "tls": "6507b3b62947470a",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 710,
        "y": 160,
        "wires": [
            [
                "764674a70ef04d5a"
            ]
        ]
    },
    {
        "id": "2eb80cb3e0a9e05f",
        "type": "change",
        "z": "bc7cdf4bb4dff9c6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "temperature",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"sent\": false}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 80,
        "wires": [
            [
                "6ffcd7abf4e5e787"
            ]
        ]
    },
    {
        "id": "6ffcd7abf4e5e787",
        "type": "mongodb in",
        "z": "bc7cdf4bb4dff9c6",
        "mongodb": "ecb43e63847ff54b",
        "name": "",
        "collection": "Humidity",
        "operation": "find",
        "x": 830,
        "y": 80,
        "wires": [
            [
                "d2cfa72ff6285f3d"
            ]
        ]
    },
    {
        "id": "d2cfa72ff6285f3d",
        "type": "change",
        "z": "bc7cdf4bb4dff9c6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "humidity",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 80,
        "wires": [
            [
                "e07acb26496a6d7e",
                "aa8210cddc719b57"
            ]
        ]
    },
    {
        "id": "aa8210cddc719b57",
        "type": "function",
        "z": "bc7cdf4bb4dff9c6",
        "name": "",
        "func": "let dataToCloud = []\n\nfor(let i = 0; i < msg.temperature.length || i< msg.humidity.length; i++){\n  let temperature =  msg.temperature[i].payload.value\n  let humidity = msg.humidity[i].payload.value\n  let timestamp = msg.temperature[i].payload.timestamp\n  let measuring = {temperature, humidity, timestamp}\n  dataToCloud.push(measuring)\n}\n    \nmsg.payload = dataToCloud    \n    \n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 160,
        "wires": [
            [
                "42b6c8431ee00e9e"
            ]
        ]
    },
    {
        "id": "764674a70ef04d5a",
        "type": "debug",
        "z": "bc7cdf4bb4dff9c6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 160,
        "wires": []
    },
    {
        "id": "42b6c8431ee00e9e",
        "type": "json",
        "z": "bc7cdf4bb4dff9c6",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 270,
        "y": 160,
        "wires": [
            [
                "91cd7abf785a9a25",
                "5412a8e0152075a3"
            ]
        ]
    },
    {
        "id": "403cedd92d3169b0",
        "type": "mongodb out",
        "z": "bc7cdf4bb4dff9c6",
        "mongodb": "ecb43e63847ff54b",
        "name": "",
        "collection": "Temperature",
        "payonly": false,
        "upsert": false,
        "multi": true,
        "operation": "update",
        "x": 780,
        "y": 340,
        "wires": []
    },
    {
        "id": "3395ce42b3c4dc2a",
        "type": "mongodb out",
        "z": "bc7cdf4bb4dff9c6",
        "mongodb": "ecb43e63847ff54b",
        "name": "",
        "collection": "Humidity",
        "payonly": false,
        "upsert": false,
        "multi": true,
        "operation": "update",
        "x": 770,
        "y": 380,
        "wires": []
    },
    {
        "id": "e07acb26496a6d7e",
        "type": "debug",
        "z": "bc7cdf4bb4dff9c6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1290,
        "y": 80,
        "wires": []
    },
    {
        "id": "5d1afc9019dad198",
        "type": "function",
        "z": "bc7cdf4bb4dff9c6",
        "name": "",
        "func": "\nmsg.query = {\"sent\": false};\nmsg.payload = {\"$set\": {\"sent\": true}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 240,
        "wires": [
            [
                "403cedd92d3169b0",
                "3395ce42b3c4dc2a"
            ]
        ]
    },
    {
        "id": "91cd7abf785a9a25",
        "type": "debug",
        "z": "bc7cdf4bb4dff9c6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 220,
        "wires": []
    },
    {
        "id": "5412a8e0152075a3",
        "type": "change",
        "z": "bc7cdf4bb4dff9c6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 160,
        "wires": [
            [
                "433e27fdc2ff2343"
            ]
        ]
    },
    {
        "id": "7830c0729774f1fa",
        "type": "switch",
        "z": "bc7cdf4bb4dff9c6",
        "name": "checkStatus",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "400",
                "vt": "num",
                "v2": "499",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "500",
                "vt": "num",
                "v2": "599",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "200",
                "vt": "num",
                "v2": "299",
                "v2t": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 890,
        "y": 220,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "526ce9fce6338779",
        "type": "file",
        "z": "bc7cdf4bb4dff9c6",
        "name": "",
        "filename": "noServerResponse.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 880,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "d3fe1cd04bfc6385",
        "type": "catch",
        "z": "bc7cdf4bb4dff9c6",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 1040,
        "y": 400,
        "wires": [
            [
                "618f8178951a60f1"
            ]
        ]
    },
    {
        "id": "618f8178951a60f1",
        "type": "debug",
        "z": "bc7cdf4bb4dff9c6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 400,
        "wires": []
    },
    {
        "id": "807def02cba1c5f4",
        "type": "inject",
        "z": "bc7cdf4bb4dff9c6",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"sent\": false}",
        "payloadType": "json",
        "x": 100,
        "y": 540,
        "wires": [
            [
                "d54b748bc199fbca"
            ]
        ]
    },
    {
        "id": "d54b748bc199fbca",
        "type": "mongodb in",
        "z": "bc7cdf4bb4dff9c6",
        "mongodb": "ecb43e63847ff54b",
        "name": "",
        "collection": "WeatherData",
        "operation": "find",
        "x": 350,
        "y": 540,
        "wires": [
            [
                "0d0c1c6a50ce4c2e",
                "88aba3a49de8dcaf"
            ]
        ]
    },
    {
        "id": "0d0c1c6a50ce4c2e",
        "type": "debug",
        "z": "bc7cdf4bb4dff9c6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 480,
        "wires": []
    },
    {
        "id": "88aba3a49de8dcaf",
        "type": "json",
        "z": "bc7cdf4bb4dff9c6",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 610,
        "y": 540,
        "wires": [
            [
                "885a55c0838033b1",
                "d6e01f61da080fc3"
            ]
        ]
    },
    {
        "id": "885a55c0838033b1",
        "type": "debug",
        "z": "bc7cdf4bb4dff9c6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 580,
        "wires": []
    },
    {
        "id": "d6e01f61da080fc3",
        "type": "change",
        "z": "bc7cdf4bb4dff9c6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 540,
        "wires": [
            [
                "25e13e600a525ad6"
            ]
        ]
    },
    {
        "id": "25e13e600a525ad6",
        "type": "http request",
        "z": "bc7cdf4bb4dff9c6",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:4000/weather-data",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "senderr": false,
        "x": 1090,
        "y": 540,
        "wires": [
            [
                "aec74bb1f8e8d55c"
            ]
        ]
    },
    {
        "id": "02114973aa5f2e98",
        "type": "function",
        "z": "bc7cdf4bb4dff9c6",
        "name": "",
        "func": "\nmsg.query = {\"sent\": false};\nmsg.payload = {\"$set\": {\"sent\": true}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "aec74bb1f8e8d55c",
        "type": "switch",
        "z": "bc7cdf4bb4dff9c6",
        "name": "checkStatus",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "400",
                "vt": "num",
                "v2": "499",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "500",
                "vt": "num",
                "v2": "599",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "200",
                "vt": "num",
                "v2": "299",
                "v2t": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 130,
        "y": 760,
        "wires": [
            [
                "caac895c203b946d"
            ],
            [
                "dae30ff145605b63"
            ],
            [
                "02114973aa5f2e98"
            ]
        ]
    },
    {
        "id": "c7058f18a105ae27",
        "type": "mongodb out",
        "z": "bc7cdf4bb4dff9c6",
        "mongodb": "ecb43e63847ff54b",
        "name": "",
        "collection": "WeatherData",
        "payonly": false,
        "upsert": false,
        "multi": true,
        "operation": "update",
        "x": 550,
        "y": 820,
        "wires": []
    },
    {
        "id": "dae30ff145605b63",
        "type": "debug",
        "z": "bc7cdf4bb4dff9c6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 780,
        "wires": []
    },
    {
        "id": "35afe022fb71f58c",
        "type": "file",
        "z": "bc7cdf4bb4dff9c6",
        "name": "",
        "filename": "SendingDataError.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 940,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "fce3fe76d1ad85ac",
        "type": "http request",
        "z": "bc7cdf4bb4dff9c6",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:4000/auth/gateway/authorize",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 810,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "caac895c203b946d",
        "type": "change",
        "z": "bc7cdf4bb4dff9c6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.secret",
                "pt": "msg",
                "to": "bc982d286906",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.workspaceId",
                "pt": "msg",
                "to": "62828f83a7d216494a413951",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 720,
        "wires": [
            [
                "f19746b2098a55c9"
            ]
        ]
    },
    {
        "id": "f19746b2098a55c9",
        "type": "json",
        "z": "bc7cdf4bb4dff9c6",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 650,
        "y": 720,
        "wires": [
            [
                "fce3fe76d1ad85ac"
            ]
        ]
    },
    {
        "id": "ecb43e63847ff54b",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "meteodata",
        "name": ""
    },
    {
        "id": "6507b3b62947470a",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    }
]
