Send to cloud
[
    {
        "id": "ef6140f8cf31fa28",
        "type": "tab",
        "label": "Send to cloud",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d28137a93d159b90",
        "type": "catch",
        "z": "ef6140f8cf31fa28",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 140,
        "y": 540,
        "wires": [
            [
                "b2fe9bcea0387b04"
            ]
        ]
    },
    {
        "id": "b2fe9bcea0387b04",
        "type": "debug",
        "z": "ef6140f8cf31fa28",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 540,
        "wires": []
    },
    {
        "id": "5064970467f89778",
        "type": "inject",
        "z": "ef6140f8cf31fa28",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "projection",
                "v": "{\"temperature\":1,\"humidity\":1,\"timestamp\":1,\"_id\":0}",
                "vt": "json"
            }
        ],
        "repeat": "301",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"sent\":false}",
        "payloadType": "json",
        "x": 200,
        "y": 220,
        "wires": [
            [
                "3077bedb7ea861e0"
            ]
        ]
    },
    {
        "id": "3077bedb7ea861e0",
        "type": "mongodb in",
        "z": "ef6140f8cf31fa28",
        "mongodb": "ecb43e63847ff54b",
        "name": "",
        "collection": "WeatherData",
        "operation": "find",
        "x": 470,
        "y": 220,
        "wires": [
            [
                "e76f173739eab29b"
            ]
        ]
    },
    {
        "id": "62921504dcca70a7",
        "type": "debug",
        "z": "ef6140f8cf31fa28",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 160,
        "wires": []
    },
    {
        "id": "a1afeb34c8fad9f2",
        "type": "json",
        "z": "ef6140f8cf31fa28",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 910,
        "y": 220,
        "wires": [
            [
                "bdea5adf607bd20d",
                "8956317983e3d7d5"
            ]
        ]
    },
    {
        "id": "bdea5adf607bd20d",
        "type": "debug",
        "z": "ef6140f8cf31fa28",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 160,
        "wires": []
    },
    {
        "id": "8956317983e3d7d5",
        "type": "http request",
        "z": "ef6140f8cf31fa28",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:4000/weather-data",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1110,
        "y": 220,
        "wires": [
            [
                "2fb8eba0176a6a31"
            ]
        ]
    },
    {
        "id": "0b67c818509c1aa6",
        "type": "function",
        "z": "ef6140f8cf31fa28",
        "name": "",
        "func": "\nmsg.query = {\"sent\": false};\nmsg.payload = {\"$set\": {\"sent\": true}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 440,
        "wires": [
            [
                "a83c83258bbad90d"
            ]
        ]
    },
    {
        "id": "2fb8eba0176a6a31",
        "type": "switch",
        "z": "ef6140f8cf31fa28",
        "name": "checkStatus",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "400",
                "vt": "num",
                "v2": "499",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "500",
                "vt": "num",
                "v2": "599",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "200",
                "vt": "num",
                "v2": "299",
                "v2t": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 230,
        "y": 380,
        "wires": [
            [
                "d97618b3b2d75fb2"
            ],
            [
                "d97618b3b2d75fb2"
            ],
            [
                "d97618b3b2d75fb2",
                "0b67c818509c1aa6"
            ]
        ]
    },
    {
        "id": "a83c83258bbad90d",
        "type": "mongodb out",
        "z": "ef6140f8cf31fa28",
        "mongodb": "ecb43e63847ff54b",
        "name": "",
        "collection": "WeatherData",
        "payonly": false,
        "upsert": false,
        "multi": true,
        "operation": "update",
        "x": 710,
        "y": 440,
        "wires": []
    },
    {
        "id": "d97618b3b2d75fb2",
        "type": "debug",
        "z": "ef6140f8cf31fa28",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 380,
        "wires": []
    },
    {
        "id": "a80c07ef6e112c3c",
        "type": "file",
        "z": "ef6140f8cf31fa28",
        "name": "",
        "filename": "SendingDataError.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 600,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "e76f173739eab29b",
        "type": "function",
        "z": "ef6140f8cf31fa28",
        "name": "",
        "func": "const token = global.get(\"token\")\nmsg.headers = {\n    Authorization: \"Bearer \"+ token,\n    [\"content-type\"]: \"application/json\"\n}\nmsg.payload = {\n    data: msg.payload\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 220,
        "wires": [
            [
                "62921504dcca70a7",
                "a1afeb34c8fad9f2"
            ]
        ]
    },
    {
        "id": "cfbbcb295a8b83bf",
        "type": "inject",
        "z": "ef6140f8cf31fa28",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "jsonata",
        "x": 130,
        "y": 600,
        "wires": [
            [
                "396749a0c04e5382"
            ]
        ]
    },
    {
        "id": "396749a0c04e5382",
        "type": "mongodb out",
        "z": "ef6140f8cf31fa28",
        "mongodb": "ecb43e63847ff54b",
        "name": "",
        "collection": "WeatherData",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 410,
        "y": 600,
        "wires": []
    },
    {
        "id": "ecb43e63847ff54b",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "meteodata",
        "name": ""
    }
]
